:root {
    --opt-pad-v: 15px;
    --opt-pad-h: 25px;
    --opt-underline: 4px;
    --opt-hover-delay: 0.25s;
    --opt-dot-size: 6px;
}

.nav-container {
    background-color: var(--expoedge-red);

    display: flex;
}

.nav-option {
    padding: var(--opt-pad-v) var(--opt-pad-h) calc(var(--opt-pad-v) - var(--opt-underline))  var(--opt-pad-h);
    border-bottom: var(--opt-underline) solid var(--expoedge-red);

    position: relative;
    display: inline-block;
}

.nav-option-text {
    text-decoration: none;
}

.nav-option span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-subcontainer {
    display: none;
    position: absolute;

    margin-top: var(--opt-pad-v);
    margin-left: calc(-1*var(--opt-pad-h));
}

.nav-suboption {
    display: block;

    background-color: var(--expoedge-red);
    color: white;
    padding: var(--opt-pad-v) var(--opt-pad-h);
    text-decoration: none;
}

.nav-option:hover {
    border-bottom: var(--opt-underline) solid var(--expoedge-pink);
    transition: border-bottom-color var(--opt-hover-delay);
}
.nav-option:hover .nav-option-text span {
    color: var(--expoedge-pink);
    transition: color var(--opt-hover-delay);
}
.nav-option:hover .nav-subcontainer {
    display: block;
}

.nav-suboption:hover span {
    color: var(--expoedge-pink);
    transition: color var(--opt-hover-delay);
}

.dot-before:before {
    content: "";
    height: var(--opt-dot-size);
    width: var(--opt-dot-size);
    background-color: var(--expoedge-pink);
    position: absolute;
    top: 50%;
    margin-left: calc(-1*var(--opt-pad-h) - var(--opt-dot-size)/2);
}