:root {
    --opt-pad-v: 15px;
    --opt-pad-h: 25px;
    --opt-underline: 4px;
    --opt-hover-delay: 0.25s;
    --opt-dot-size: 6px;
}

.nav-container {
    display: flex;

    background-color: var(--expoedge-red);
}

.nav-option-text {
    padding: var(--opt-pad-v) var(--opt-pad-h) calc(var(--opt-pad-v) - var(--opt-underline))  var(--opt-pad-h);
    border-bottom: var(--opt-underline) solid var(--expoedge-red);
}
.nav-option-text span, .nav-suboption span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-option a { text-decoration: none; }

.nav-subcontainer {
    display: none;
    position: absolute;
    z-index: 1;
}

.nav-suboption {
    display: block;

    background-color: var(--expoedge-red);
    color: white;
    padding: var(--opt-pad-v) var(--opt-pad-h);
    text-decoration: none;
}

.nav-option:hover .nav-option-text, .nav-option-text-active {
    border-bottom: var(--opt-underline) solid var(--expoedge-pink);
    transition: border-bottom-color var(--opt-hover-delay);
}
.nav-option:hover .nav-option-text span, .nav-option-text-active span {
    color: var(--expoedge-pink);
    transition: color var(--opt-hover-delay);
}
.nav-option:hover .nav-subcontainer {
    display: block;
    margin-top: 1px;
}

.nav-suboption:hover, .nav-suboption-active {
    background-color: var(--expoedge-pink);
}
.nav-suboption:hover span, .nav-suboption-active span {
    color: var(--expoedge-red);
    /*transition: color var(--opt-hover-delay);*/
}

.dot-before:before {
    content: "";
    height: var(--opt-dot-size);
    width: var(--opt-dot-size);
    background-color: var(--expoedge-pink);
    position: absolute;
    margin-top: calc(var(--opt-pad-v) + 0.9rem/2 + var(--opt-underline)/2 - var(--opt-dot-size)/2);
    margin-left: calc(-1*var(--opt-dot-size)/2);
}