:root {
    --expoedge-red: #CC0000;
    --expoedge-light-blue: #78BCC4;
    --expoedge-dark-blue: #002C3E;
    --expoedge-pink: #fb998c;
    --expoedge-font-family: verdana, geneva, sans-serif;
}

.debug {
    border: 1px dashed #232323
}

.main-container {
    width: 80%;
    margin: auto;
}

.main-footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: var(--expoedge-red);
    font-family: var(--expoedge-font-family);
}

/* COMPANY LOGO */
.logo-primary {
    color: var(--expoedge-red);
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--expoedge-font-family);
}
.logo-secondary {
    color: var(--expoedge-red);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--expoedge-font-family);
}

/* HOME - VALUES SECTION */
.values-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.value-unit {
    /*width: 25%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.value-unit * {
    align-self: center;
    margin: 5px;
}

.value-unit img {
    width: 75px;
}

.value-unit span {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--expoedge-font-family);
    color: #454545;
}

/* INDUSTRIES - SUB SECTIONS */
.industry-heading {
    padding-top: 25px;
    padding-bottom: 25px
}
.industry-heading span {
    font-family: var(--expoedge-font-family);
    color: var(--expoedge-red);
    font-size: 1.1rem;
    font-weight: bold
}

.industry-cols-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px
}

.industry-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.industry-col * {
    margin: 5px;
}

.industry-col span {
    font-size: 1.1rem;
    font-family: var(--expoedge-font-family);
    color: var(--expoedge-red);
}

/* CONTACT PAGE */
.contact-container {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-container div {
    width: 48%;
    padding: 25px;
    color: var(--expoedge-red);
    font-family: var(--expoedge-font-family);
}

.contact-container a {
    opacity: 0.8;
}

.profile-container {
    width: 95%;
    padding: 2.5%;
    line-height: 25px;
    color: var(--expoedge-red);
    font-family: var(--expoedge-font-family);
    text-align: justify;
}